<header class="navbar navbar-fixed-top ">
  <div class="container">
    <%= link_to "Event-Hero", '/',  class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right plink">
        <li><%= link_to "Home",   '/' %></li>
        <li><%= link_to "About",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>